@using WEB_QLBANSACH_TH.Models
@using PagedList.Mvc;
@model PagedList.PagedList<SACH>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>
<style>
.MenuTrang {
    text-align: center;
}

.MenuTrang li {
    display: inline;
    margin: 0 5px;
}

.MenuTrang li a {
    color: #94811c;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #94811c;
    border-radius: 3px;
}

.MenuTrang li a:hover {
    background-color: #94811c;
    color: white;
}

.MenuTrang .active a {
    font-weight: bold;
    background-color: #94811c;
    color: white;
}
</style>

@foreach (var sach in Model)
{
    <div id="templatemo_content_right">
        <div class="templatemo_product_box">
            <h1>@sach.Tensach</h1>
            <img alt="@sach.Tensach" src="~/images/@sach.Anhbia" width="100" />
            <div class="product_info">
                <p>Ut fringilla enim sed turpis. Sed justo dolor, convallis at.</p>
                <h3>@sach.Giaban <span>VND</span></h3>
                <div class="detail_button" ><a href="@Url.Action("Details", "BookStore", new { id = sach.Masach })" style="color: yellow">Chi tiết</a></div>
            </div>
            <div class="cleaner">&nbsp;</div>

        </div>
    </div>
}