<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Book Store Admin Template</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="~/Content/templatemo_style_all.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <div id="templatemo_container">
            <div id="templatemo_menu">
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Quản lý sách", "Sach", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Quản lý chủ đề", "Index", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Quản lý nhà xuất bản", "Index", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div> <!-- end of menu -->


            <div>
                @RenderBody()
            </div>


            <div id="templatemo_footer">
                @* Tao liên kết các trang *@
                @*<h2 style="color: #94811c">Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount</h2>
            <p></p>*@
                <a href="subpage.html">Home</a> | <a href="subpage.html">Search</a> | <a href="subpage.html">Books</a> | <a href="#">New Releases</a> | <a href="#">FAQs</a> | <a href="#">Contact Us</a><br />

                <!-- Credit: www.templatemo.com -->
            </div>
            <!-- end of footer -->
            <!--  Free CSS Template www.templatemo.com -->
        </div> <!-- end of container -->

    </div>
    
</body>
</html>
